.App{
  display: flex;
  flex-wrap: wrap;
  flex:1;
  align-items:center;
  justify-content:center;
  flex-direction: column;
}
.App>button{
  margin:20px;
  background-color: maroon;
  color: white;
}
#newCardId{
  flex:1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid grey;
  padding:20px;
  width:'100%';
}

#newCardId>input{
  margin-right: 10px;
  margin-left: 10px;
}
.addButton{
  border-radius: 15px;
  background-color: maroon;
  color: white;
}
.addButton1{
  border-radius: 15px;
  background-color: maroon;
  color: white;
  padding: 5px 15px;
}
form{
  display: flex;
}

h1{
  margin-top: 10px;
  color: maroon;
}
