.cardDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
    align-items: center;
    max-width:'100%';
}
.innerCard{
    flex:0.5;
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-top: 30px;
    flex-direction:column;
    align-items: flex-start;
}
Button{
    margin: 0 5px;
    background-color: maroon;
    color: white;
}

.edit{
    display: flex;
    flex-wrap: wrap;
    flex:1;
    flex-direction: row;
    justify-content:space-around;
    margin:10px;
    border: 1px solid black;
    padding:10px
}
.innerEdit{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
}
.accordion-button{
    align-items: center;
    border: 3px solid black;
    color: maroon;
    font-weight: 600
}
.accordion-button:hover{
    background-color: antiquewhite;
}
.innerCard>p{
    color: gray;
  }
  h6{
      color: maroon;
      font-weight: 600

  }
  .accordion-body{
      border: 3px solid black;
      font-weight: 600
  }
  .accordion-body:hover{
      background-color: antiquewhite;
  }
  .accordion-header{
      border: 1px solid transparent;
      margin-left: -7px;
  }
  